:root {
  --landing-gradient: linear-gradient(#1c252c, #1e293d);
  --background: #1c252c;
  --foreground: rgb(112 171 255 / 8%);
  --foreground-hover: rgb(112 171 255 / 15%);;
  --shadow: #303338;
  --primary-text: #dcddde;
  --active-link: #b7b8b9;
  --link: rgb(81, 167, 238);
}

:root.light {
/* :root { */
  --landing-gradient: linear-gradient(#2880d0, #14459c);
  --background: #f6f6f6;
  --foreground: #ffffff;
  --foreground-hover: #f3f3f3;
  --shadow: #DDD;
  --primary-text: #333;
  --active-link: #4d4d4d;
  --link: rgb(81, 167, 238);
}

@keyframes fadeInFromRight {
  from { opacity: 0; transform: translateX(8px); }
  to { opacity: 1; }
}
@keyframes fadeInFromLeft {
  from { opacity: 0; transform: translateX(-8px); }
  to { opacity: 1; }
}

* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
html, button, input, select, th, td {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}
body {
  background: var(--background);
  color: var(--primary-text);
}

.root {
  padding: 3em;
}
.root:not(.landing-container) {
  animation: fadeInFromRight 0.3s 0.1s backwards ease-out;
}
.going-back .root {
  animation: fadeInFromLeft 0.3s 0.1s backwards ease-out;
}

@media (max-width: 500px) {
  .root {
    padding: 1.5em;
  }
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1em;
}
h3 {
  margin-top: 0;
}
.campus-card-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -16px;
}
.campus-card-container .card {
  margin: 16px;
}
.dept-card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}
.list-view.dept-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.list-view.course-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
@media (max-width: 500px) {
  .list-view.course-card-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
.course-card-container {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}
.card-view.dept-card-container, .card-view.course-card-container {
  gap: 16px;
}
.card {
  padding: 1em;
  border-radius: 4px;
  background: var(--foreground);
  transition: 0.2s all;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card.campus {
  width: 220px;
  height: 220px;
}
.card.campus .name {
  text-align: center;
}
@media (max-width: 500px) {
  .card.campus {
    width: 100%;
  }
}
.card.dept, .card.course {
  align-items: flex-start;
}
.list-view .card.course {
  display: flex;
  flex-flow: row wrap;
}
.list-view .card.course .name {
  margin-top: 0.5em;
  width: 100%;
}
.card-view .card.dept, .card-view .card.course {
  width: 175px;
  height: 175px;
}
.breadcrumb-view .card.dept .more-info, .list-view .card.dept .more-info {
  display: none;
}
.card.course .more-info {
  color: #bbb;
}
.card.course .course-id {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: bold;
}
.card.course .more-info .counter {
  width: 1.5em;
  height: 1.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 0.9em;
}
.list-view .card.course .counter-label {
  display: none;
}
.card .name {
  font-size: 1.1rem;
}
.card .image {
  margin-bottom: 1em;
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .image img {
  height: 100%;
  border-radius: 4px;
}
.card:hover {
  background: var(--foreground-hover);
}

.table-container {
  background: var(--foreground);
  border-radius: 4px;
  padding-bottom: 1em;
  color: var(--primary-text);
  overflow: auto;
}
.row-placeholder {
  height: 1em;
  width: 100%;
  display: block;
}
.classes {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.classes .none {
  color: #AAA;
}
.classes th {
  color: rgb(96, 159, 255);
  font-weight: 700;
}
.classes td, .classes th {
  padding: 8px;
  vertical-align: top;
}
.classes td.first, .classes th.first {
  padding-left: 1.5em;
}
.classes tr td:last-child, .classes tr th:last-child {
  padding-right: 1.5em;
}
.classes tbody tr {
  transition: background-color 0.15s;
}
.classes tbody:hover tr {
  background-color: rgba(255, 255, 255, 5%);;
}
.classes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-weight: normal;
  /* background-color: #4CAF50;
  color: white; */
}

.title-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.select-wrapper {
  margin-left: 1em;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.select-wrapper svg {
  width: 12px;
  height: 12px;
  position: absolute;
  fill: #bdc2d6;
  right: 8px;
  pointer-events: none;
}
.select-wrapper select {
  -webkit-appearance: none;
  color: var(--primary-text);
  background: var(--foreground);
  font-size: 14px;
  border: none;
  padding: 0.5em 0.5em;
  padding-right: 2.5em;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  width: 100%;
}
.input-wrapper {
  flex: 1;
  margin-bottom: 1em;
}
.input-wrapper input {
  -webkit-appearance: none;
  color: var(--primary-text);
  background: var(--foreground);
  font-size: 16px;
  border: none;
  padding: 1em;
  padding-right: 2.5em;
  border-radius: 4px;
  outline: none;
  width: 100%;
}

@media (max-width: 700px) {
  .input-wrapper, .select-wrapper {
    width: 100%;
    margin-bottom: 1em;
  }
  .input-wrapper {
    order: 3;
  }
  .select-wrapper {
    margin-left: 0;
  }
}

a {
  color: var(--link);
  text-decoration: none;
}

.breadcrumbs {
  margin-bottom: 2em;
}
.breadcrumbs a:first-child {
  padding-left: 0;
}
.breadcrumbs a:last-child {
  padding-right: 0;
}
.breadcrumbs a {
  padding: 0 0.5em;
}
.breadcrumbs a.current {
  color: var(--active-link);
  cursor: default;
}
